<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Pavan/IdeaProjects/APIAutomationProjects"><classes><class name="org.example.GET.Styles.NONBDD_PUT"><methods><include name="Test_case"/></methods></class><class name="org.example.GET.Testng.ForAllure_Report"><methods><include name="testcase01"/><include name="testcase02"/></methods></class><class name="org.example.GET.Testng.Get"><methods><include name="test_get"/></methods></class></classes></test></suite>